## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../vacation_search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Kirakira,SB,83.26,overcast clouds,-10.4544,161.9205,SanBiz Lodge
1,6,Rikitea,PF,76.42,broken clouds,-23.1203,-134.9692,People ThankYou
2,7,Quepos,CR,87.10,broken clouds,9.4236,-84.1652,Jungle Beach Hotel at Manuel Antonio
3,16,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,24,Pemangkat,ID,79.43,overcast clouds,1.1667,108.9667,Ramah Kost KITA

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Conditions</dt><dd>{Description} & {Max Temp} °F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
city_locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.


marker_layer = gmaps.marker_layer(city_locations, info_box_content=city_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.0)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[ (vacation_df["City"] == "La Palma") & (vacation_df["Country"] == "US") ]
vacation_end = vacation_df.loc[ (vacation_df["City"] == "La Palma") & (vacation_df["Country"] == "US") ]
vacation_stop1 = vacation_df.loc[ (vacation_df["City"] == "Banning") & (vacation_df["Country"] == "US") ]
vacation_stop2 = vacation_df.loc[ (vacation_df["City"] == "Bullhead City") & (vacation_df["Country"] == "US") ]
vacation_stop3 = vacation_df.loc[ (vacation_df["City"] == "Altar") & (vacation_df["Country"] == "MX") ]

In [8]:
# test code
vacation_stop2

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
128,463,Bullhead City,US,79.86,broken clouds,35.1478,-114.5683,Harrah's Laughlin

The to_numpy() function can be used on a DataFrame column to convert the column data into an array. List indexing can be used on the array to retrieve each item in the array.

In [9]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
    # Use the to_numpy() function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [11]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_route = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2 , stop3 ],
        travel_mode='DRIVING')

fig.add_layer(vacation_route)
fig

Figure(layout=FigureLayout(height='420px'))

The concat() function can be used to combine multiple DataFrames that have the same columns (axis). In addition, Pandas concatenation preserves indices. To reset the index in the concatenated DataFrame, we can use the ignore_index parameter and set it equal to True.

In [12]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1 , vacation_stop2 , vacation_stop3 ],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,429,La Palma,US,78.42,haze,33.8464,-118.0467,La Quinta Inn & Suites by Wyndham Buena Park
1,80,Banning,US,77.81,broken clouds,33.9256,-116.8764,"Holiday Inn Express & Suites Banning, an IHG H..."
2,463,Bullhead City,US,79.86,broken clouds,35.1478,-114.5683,Harrah's Laughlin
3,192,Altar,MX,78.93,clear sky,30.7000,-111.8167,Hotel Maria Elena

In [16]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Conditions</dt><dd>{Description} & {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map.

marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))